
<div class="footer">
    <div class="f-inr">
        <h2>Alma Matters</h2>
        <p>Alma Matters' mission is to help High School Students take charge of their own future by finding the best options for College. Alma Matters is a technology-based, innovative service to inform, guide and counsel students to pick Colleges that are right for them.</p>
        <p>We want to be a part of every student's College journey.</p>
        <button>SIGN UP FOR FREE</button>
        <p>We are just getting started</p>
    </div>

    <div class="f-links">
        {% for link in links %}
            <a href="{{link.link}}">{{link.name}}</a>
        {% endfor %}
    </div>
</div>


