<!--<script>-->
    <!--$('select[name=category]').change(function(){-->
    <!--brand_id = $(this).val();-->
    <!--request_url = '/catlist/';-->
        <!--$.ajax({-->
            <!--url: request_url,-->
            <!--success: function(catdata){-->
            <!--$.each(catdata, function(index, text){-->
                <!--$('select[name=courses]').append(-->
                <!--$('<option></option>').val(index).html(text)-->
                <!--);-->
              <!--};-->
           <!--});-->
<!--</script>-->


<form action={% url 'user_login' %} class="form-handle" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" name="Submit"></p>

</form>
